PUBLIC_LIDP_BASE_URL=https://lidp-api.localhost:1337/openapi.json
PUBLIC_LIDP_MANAGEMENT_BASE_URL=https://lidp-management-api.localhost:1337/openapi.json
PUBLIC_URL=https://lidp-management.localhost:1337
VITE_BASE_PATH=
