PUBLIC_LIDP_BASE_URL=https://unified-api.localhost:1337/lidp/
PUBLIC_LIDP_MANAGEMENT_BASE_URL=https://unified-api.localhost:1337/lidp-management/
PUBLIC_URL=https://lidp-management.localhost:1337
VITE_BASE_PATH=
